a {
    text-decoration: none;
    /*font-style: italic;*/
    color: #444444;
}

nav {
    float:right;
    font-family: 'Rosario', sans-serif;
    /*font-style: italic;*/
    margin: 5px 0 0 auto;
}
ul{
    margin:20px 10px 0 0;
}

nav li {
    float: left;
    margin: 15px 40px 0 0;
    /*border: 1px solid #424242;*/
    /*border-radius: 18px;*/
    /*padding: 2px 7px;*/
}

.nav-current {
    /*background-color: #444444;*/
    /*color: white;*/
    color: rgb(104, 104, 104);
    font-weight: bold;
}

#top-line {
    width: 90%;
    margin: 0 auto;
}

#top-line header {
    font-family: 'Leckerli One', cursive;
    color: #444444;
}

#top-line header * {
    font-weight: normal;
}

#top-line header h1 {
    font-size: 4em;
    margin: 20px 0 0 0;
}

#top-line header h2 {
    margin-top: 0;
    text-align: center;
}

#logo {
    margin: 25px 30px 0 100px;
    height: 80px;
}

#logo, header {
    float: left;
    width: auto;
}
h2{
    margin-top:1%;
    font-family:Trebuchet MS, Arial, Helvetica, sans-serif;;
}

#body {
    margin: 0 auto;
    width: 800px;
    color: #444444;
}

#body p {
    font: 18px/1.5 Trebuchet MS, Arial, Helvetica, sans-serif;
    /*font: 18px/1.8 "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;*/
    /*font-weight: 600;*/
}

#about img {
    float: right;
    margin: 20px 0 20px 40px;
    height: 270px;
    box-shadow: 10px 10px 5px #888888;
}

section header {
    font-size: 2em;
    font-family: 'Rosario', sans-serif;
    float: none;
    text-align: center;
}


footer {
    font-family: 'Rosario', sans-serif;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    bottom: 0;
    text-align: center;
    color: azure;
}

footer p {
    margin-top: 5px;
}

footer a {
    text-decoration: none;
    font-style: italic;
    color: yellowgreen;
}

#round-photo {
    margin: 0 40px 20px 0;
    float: left;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    background: url(../img/Yin-Yoga-About.jpg) no-repeat;
}