body { font-family: 'Petrona', Georgia, serif; }
a { color: black; }
a:hover { color: grey; }

#archive .year h2 {
  font-family: 'Asap', Helvetica, sans-serif;
  width: 10%;
  float: left;
  margin-bottom: 0;
  margin-top: 0.95em;
  color: grey;
}
#archive .entry {
  padding-left: 10%;
  padding-top: 1em;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
#archive .date {
  float:left;
  width:10%;
  color: grey;
}
