#archive .year h2 {
  width: 10%;
  float: left;
  margin-bottom: 0;
}
#archive .entry {
  padding-left: 10%;
  padding-top: 1.5em;
  margin-bottom: 1em;
}
#archive .date {
  float:left;
  width:10%;
}
