a { text-decoration: none; color: #dd574c; }
a:hover { color: #dd924c; transition: 0.3s ease-in; -webkit-transition: 0.3s ease-in; }
body { max-width: 1175px; padding: 50px 20px 0 20px; margin: 0 auto; }
h1 { font-family: 'Asap', Helvetica, sans-serif; font-size: 48px; text-align: center; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
img { border-width: 0; }
li code { font-size: 18px; }
li { font: 22px/1.5 'Petrona', Georgia, serif; -webkit-font-smoothing: antialiased; color: #343434; }
p code { font-size: 18px; }
p { font: 22px/1.5 'Petrona', Georgia, serif; -webkit-font-smoothing: antialiased; color: #343434; }
pre { margin: 0 30px 0 30px; }

#full-logo { text-align: center; }
#header #logo { float: left; }
#header #nav { float:right }
#header #nav li { list-style: none; margin: 30px 0 0 0; padding: 0 10px 0 10px; float: left; }
#header #nav li a { -webkit-font-smoothing: antialiased; color: #777; text-transform: uppercase; text-decoration: none; font-size: 0.8em; }
#read-more { text-align: center; font: 20px 'Petrona', Georgia, serif; }

.post #date { color: #d2d2d2; text-align: center; font: 20px 'Petrona', Georgia, serif; }
.post { padding: 48px 20%; }
.title a { color: black; }
.title a:hover { color: grey; }
