a {
    text-decoration: none;
    font-style: italic;
    color: yellowgreen;
}

body {
    margin: 0;
    height: 0;
    color: azure;
}

header {
    font-family: 'Leckerli One', cursive;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.74);
    width: 50%;
    float: right;
}

header * {
    font-weight: normal;
    text-align: center;
}

header h1 {
    font-size: 4em;
    margin: 20px 0 0 0;
}

#subheading{
    font-family: 'Leckerli One', cursive;
    color: white;
    font-size: 2em;
    margin-top: 5px;
   
}

header h2 {
    font-family: 'Rosario', sans-serif;
    font-style: italic;
}

article {
    background-color: rgba(0, 0, 0, 0.4);
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 0.95em;
    margin: 30px 10% 0 50px;
    padding: 3% 3% 2% 3%;
    width: 40%;
    line-height: 1.5em;
}

article header {
    float: none;
    font-size: 2em;
    width: 100%;
}

#supersized img{opacity: 0.9}

footer {
    position: fixed;
    font-family: 'Rosario', sans-serif;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    bottom: 0;
    text-align: center;
}

footer p {
    margin-top: 10px;
}

nav {
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    margin: 0 5% 0 auto;
}

ul {
    margin-left: 80%;
}

ul li {
    float: left;
    margin-right: 2em;
    border: 1px solid azure;
    border-radius: 18px;
    padding: 2px 7px;
}

ul li:last-child {
    margin-right: 0;
}

nav a {
    color: azure;
}

.nav-current {
    background-color: azure;
    color: #424242;
}