@charset "UTF-8";
/*Navigation*/
a {
    text-decoration: none;
    color: #444444;
}
nav {
    float:right;
    font-family: 'Rosario', sans-serif;
    margin: 5px 0 0 auto;
}
ul{
    margin:20px 10px 0 0;
}
nav li {
    float: left;
    margin: 15px 40px 0 0;
    list-style-type: none;
}

.nav-current {
    color: rgb(104, 104, 104);
    font-weight: bold;
}
/*Logo & Header*/
#top-line {
    width: 90%;
    margin: 0 auto;
}

#top-line header {
    font-family: 'Leckerli One', cursive;
    color: #444444;
}

#top-line header * {
    font-weight: normal;
}

#top-line header h1 {
    font-size: 4em;
    margin: 20px 0 0 0;
}

#top-line header h2 {
    margin-top: 14px;
    text-align: center;
    font-size: 1.4em;
    font-family: 'Leckerli One', cursive;
    color: #444444;
    font-style: italic;
}
#logo {
    margin: 25px 30px 0 100px;
    height: 80px;
    border: 0;
}
#logo, header {
    float: left;
    width: auto;
}
/*Main text*/
#body {
    margin: 0 auto;
    width: 800px;
    color: #444444;
}
h2{
    margin-top:1%;
    font-family: 'Rosario', sans-serif;
    font-size: 2em;
    text-align: center;
}
h3{
    margin-top:1%;
    margin-left: 20px;
    font: 16px/1.5 Trebuchet MS, Arial, Helvetica, sans-serif;
    text-align: center;

}
#yin-yoga-daoism {
    float: right;
    margin-left: 10px;
    margin-top: 5px;
    width: 270px;
    height: 270px;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    background: url(../img/Yin-Yoga-Daoism.jpg) no-repeat;
}
article {
    margin: 0 auto;
    width: 800px;
    color: #444444;
    font: 18px/1.5 Trebuchet MS, Arial, Helvetica, sans-serif;
}
article h2 {
    margin-bottom: 0;
    margin-top: 20px;
}
img{
    margin: auto;
    display: block;
}

#quote,#research1,#research2{
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    color:#7A5C24;
}
#quote, #caption{
    text-align: center;
}
#caption{
    font-family: 'Rosario', sans-serif;
    font-style: italic;
}
#research1,#research2{
    font-size: 0.9em;
    text-align: left;
    padding: 2px 8px 2px 8px;
    color:#936D24;
    -webkit-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px 0 rgba(50, 50, 50, 0.75);
}

#research1{
    float: left;
    width: 350px;
    /*gradient;*/
    background-image: -webkit-gradient(
        linear,
        right top,
        left bottom,
        color-stop(0.45, #F7FAF7),
        color-stop(0.87, #DFEBE1)
    );
    background-image: -o-linear-gradient(left bottom, #F7FAF7 45%, #DFEBE1 87%);
    background-image: -moz-linear-gradient(left bottom, #F7FAF7 45%, #DFEBE1 87%);
    background-image: -webkit-linear-gradient(left bottom, #F7FAF7 45%, #DFEBE1 87%);
    background-image: -ms-linear-gradient(left bottom, #F7FAF7 45%, #DFEBE1 87%);
    background-image: linear-gradient(to left bottom, #F7FAF7 45%, #DFEBE1 87%);
}
#research2{
    float: right;
    width: 380px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0.45, #F7FAF7),
        color-stop(0.87, #DFEBE1)
    );
    background-image: -o-linear-gradient(right bottom, #F7FAF7 45%, #DFEBE1 87%);
    background-image: -moz-linear-gradient(right bottom, #F7FAF7 45%, #DFEBE1 87%);
    background-image: -webkit-linear-gradient(right bottom, #F7FAF7 45%, #DFEBE1 87%);
    background-image: -ms-linear-gradient(right bottom, #F7FAF7 45%, #DFEBE1 87%);
    background-image: linear-gradient(to right bottom, #F7FAF7 45%, #DFEBE1 87%);
}
.clear{
    clear: both;
}
footer {
    font-family: 'Rosario', sans-serif;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    bottom: 0;
    text-align: center;
    color: azure;
}

footer p {
    margin-top: 5px;
}

footer a {
    text-decoration: none;
    font-style: italic;
    color: yellowgreen;
}

